
body {
    background-color: rgb(230, 192, 230);
    font-family: Arial, sans-serif;
}

.container {
    margin: 50px auto;
    width: 50%;
    padding: 60px;
    background-color: rgb(230, 192, 230);
    border-radius: 10px;
    
}
.buttons{
    display: flex;
}
input[type=text]{
    
    border-bottom: 1px #af4ca2;
    background-color: rgb(230, 192, 230);
    
}

input[type="text"],
input[type="submit"],
input[type="reset"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"],
input[type="reset"] {
    width:50%;
    background-color: #af4ca2;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    display: none;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #af4ca2;
}

table th {
    background-color: rgb(230, 192, 230);
    font-weight: bold;
    text-align: left;
}

div {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
}
